header .img-header {
  padding: 1rem;
  text-align: center;
}
header .img-header:hover {
  transform: scale(1.2);
}
header .img-header img {
  width: 150px;
  height: 150px;
}
header .h1-header {
  text-transform: uppercase;
  padding-top: 4rem;
  font-weight: bold;
  text-align: center;
}
header main h2 {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}
header .a-nav {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
header .a-nav:hover {
  transform: scale(1.1);
}
header .a-nav-activo {
  background-color: #eee3a8;
}
header .bg-pag {
  background-color: #eee3a8;
}
@media (max-width: 991px) {
  header .img-header {
    text-align: center;
  }
  header .h1-header {
    text-align: center;
  }
  header .a-nav {
    text-align: center;
  }
}

.bg-pag {
  background-color: #eee3a8;
}

main h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 0;
}
main .boton-socios {
  margin-top: 15rem;
  color: yellow;
  font-weight: bold;
  background-color: black;
  text-transform: uppercase;
  box-shadow: 10px 6px 10px black;
}
main .boton-socios:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.2);
}
main .card img {
  display: inline-block;
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  main .boton-socios {
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  main .h1-header {
    padding-bottom: 2rem;
  }
}
@media (min-width: 970) {
  main .h2-club {
    margin-right: 12rem;
  }
}

footer .footer {
  padding: 1rem;
}
footer .redes {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  background-color: #eee3a8;
}
footer .redes h3 {
  color: #0c0c0a;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}
footer .redes a i {
  font-size: 4rem;
  padding: 1.5rem;
  text-align: center;
  color: black;
}
footer .redes a i:hover {
  cursor: pointer;
  color: #242420;
  background-color: yellow;
  border-radius: 10rem;
  transform: scale(1.2);
}
footer .footer .maps .mapouter {
  display: inline-block;
  max-width: 300px;
  height: auto;
  padding: 2rem;
  text-align: right;
  border: 2px soli #0a0909;
}
footer .mapouter {
  text-align: right;
  height: 305px;
  width: 364px;
}
footer .gmap_canvas {
  overflow: hidden;
  height: 305px;
  width: 364px;
}
@media (max-width: 394px) {
  footer .redes h3 {
    text-align: center;
  }
  footer .redes a i {
    display: block;
    text-decoration: none;
  }
}

.copy {
  font-size: 2rem;
  text-align: center;
  color: #d8d838;
  background-color: black;
  margin-bottom: 0;
}

.h5-camp {
  font-weight: bold;
  font-size: 2rem;
}

.p-camp {
  font-size: 1.5rem;
}

.card img {
  height: 250px;
  margin-top: 10px;
}

.sombra {
  box-shadow: 10px 6px 10px #3f3c3c;
}

.card h5 {
  font-weight: bold;
}

.card p {
  font-size: 1rem;
}

.imagen-club:hover {
  transform: scale(1.1);
}

.card-p {
  display: inline-block;
  border: 1px solid olive;
  box-shadow: 25px 10px 20px #242020;
}

img .imagen-club {
  display: inline-block;
  width: auto;
  height: 213px;
}

.h2-club {
  padding-top: 3rem;
}

@media (max-width: 991px) {
  .h2-club {
    text-align: center;
  }
}
.main-contacto {
  border: 2px solid #332e2e;
  background-color: #f7efc5;
  box-shadow: 10px 6px 10px olive;
}

.main-contacto form {
  padding: 2rem;
}

.main-contacto h3 {
  padding: 1rem;
  text-align: center;
}

.info {
  padding-top: 3rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.info h3 {
  font-weight: bold;
}

.btn-socios {
  color: yellow;
  background-color: black;
  font-weight: bold;
  box-shadow: 10px 6px 10px black;
  border: 1px solid yellow;
}

.btn-socios:hover {
  color: black;
  background-color: yellow;
  transition: 1s;
  transform: scale(1.2);
  border: 1px solid black;
}

.h2-socios {
  padding: 4rem 1rem;
}

/*# sourceMappingURL=style.css.map */
