header .img-header {
  padding: 1rem;
  text-align: center;
}

header .img-header:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .img-header img {
  width: 200px;
  height: 200px;
}

header .h1-header {
  text-transform: scale(1.2);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 5rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lobster', cursive;
}

header main h2 {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

header .a-nav {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

header .btn-sesion {
  font-size: 1.5rem;
  color: black;
}

header .a-nav:hover,
header .a-nav:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  color: #ffa260;
}

header .a-nav-activo {
  background-color: #eee3a8;
}

header .bg-pag {
  background-color: #eee3a8;
}

@media (max-width: 991px) {
  header .img-header {
    text-align: center;
  }
  header .h1-header {
    text-align: center;
  }
  header .a-nav {
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
  }
  header .nav-desktop {
    display: none;
  }
}

@media (max-width: 573px) {
  header .h1-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  header .nav-tablet {
    display: none;
  }
}

.bg-pag {
  background: #f1f5c7;
  background: linear-gradient(103deg, #f1f5c7 16%, rgba(242, 246, 153, 0.899597) 36%, rgba(238, 241, 103, 0.80716) 61%, rgba(187, 187, 28, 0.588673) 91%);
}

:root {
  /* COLORS */
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;
  /* RADII */
  --button-radius: 0.7rem;
  /* SIZES */
  --max-width: 758px;
  --max-height: 500px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body .sesion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  background-image: url(../img/portada.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center;
}

body .form__title {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.25rem;
}

body .link {
  color: var(--gray);
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-decoration: none;
}

body .conteiner {
  background-color: var(--white);
  border-radius: var(--button-radius);
  -webkit-box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: var(--max-height);
  max-width: var(--max-width);
  overflow: hidden;
  position: relative;
  width: 100%;
}

body .container__form {
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

body .container--signin {
  left: 0;
  width: 50%;
  z-index: 2;
}

body .conteiner.right-panel-active .container--signin {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

body .container--signup {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}

body .conteiner.right-panel-active .container--signup {
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
  opacity: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 5;
}

body .container__overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}

body .conteiner.right-panel-active .container__overlay {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body .overlay {
  background-color: var(--lightblue);
  background-image: url(../img/logoScs.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: -100%;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  width: 200%;
}

body .conteiner.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

body .overlay__panel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  width: 50%;
}

body .overlay--left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

body .conteiner.right-panel-active .overlay--left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .overlay--right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .conteiner.right-panel-active .overlay--right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

body .btn {
  background-color: #f0f080;
  border-radius: 20px;
  border: 1px solid black;
  color: var(--gray);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

body .form > .btn {
  margin-top: 1.5rem;
}

body .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body .btn:focus {
  outline: none;
}

body .form {
  background: linear-gradient(103deg, #f1f5c7 16%, rgba(242, 246, 153, 0.899597) 36%, rgba(238, 241, 103, 0.80716) 61%, rgba(187, 187, 28, 0.588673) 91%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  text-align: center;
}

body .input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

main h2 {
  text-transform: scale(1.2);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
}

main .boton-socios {
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  margin-top: 15rem;
  color: yellow;
  font-weight: bold;
  background-color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 10px 6px 10px black;
          box-shadow: 10px 6px 10px black;
  border: 1px solid white;
}

main .boton-socios:hover {
  background-color: yellow;
  color: black;
}

main .card img {
  display: inline-block;
  width: 100%;
  height: auto;
}

main .card h5,
main .card h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 2rem;
}

main .card p {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 991px) {
  main .boton-socios {
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  main .h1-header {
    padding-bottom: 2rem;
  }
}

@media (min-width: 970) {
  main .h2-club {
    margin-right: 12rem;
  }
}

@media (max-width: 400px) {
  main .boton-socios:hover {
    -webkit-transform: none;
            transform: none;
  }
}

footer .footer {
  padding: 1rem;
}

footer .redes {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

footer .redes h3 {
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  color: #0c0c0a;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}

footer .redes a i {
  font-size: 4rem;
  padding: 1.5rem;
  text-align: center;
  color: black;
}

footer .redes a i:hover {
  cursor: pointer;
  color: #242420;
  background-color: yellow;
  border-radius: 10rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer .maps .mapouter {
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  height: auto;
  padding: 2rem;
  text-align: right;
  border: 2px soli #0a0909;
}

footer .mapouter {
  text-align: right;
  height: 305px;
  width: 364px;
}

footer .gmap_canvas {
  overflow: hidden;
  height: 305px;
  width: 364px;
}

@media (max-width: 394px) {
  footer .redes h3 {
    font-size: 2rem;
    text-align: center;
  }
  footer .footer .mapouter {
    display: none;
  }
  footer .redes a i {
    text-decoration: none;
    font-size: 2rem;
  }
}

.copy {
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  text-align: center;
  color: #d8d838;
  background-color: black;
  margin-bottom: 0;
}

.h5-camp {
  font-weight: bold;
  font-size: 2rem;
}

.p-camp {
  font-size: 1.5rem;
}

.card img {
  height: 250px;
  margin-top: 10px;
}

.sombra {
  -webkit-box-shadow: 10px 6px 10px #3f3c3c;
          box-shadow: 10px 6px 10px #3f3c3c;
}

.card h5 {
  font-weight: bold;
}

.card-p, img .imagen-club {
  display: inline-block;
}

.card p {
  font-size: 1rem;
}

.imagen-club:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-p {
  border: 1px solid olive;
  -webkit-box-shadow: 25px 10px 20px #242020;
          box-shadow: 25px 10px 20px #242020;
}

img .imagen-club {
  width: auto;
  height: 213px;
}

.h2-club {
  padding-top: 3rem;
}

@media (max-width: 991px) {
  .h2-club {
    text-align: center;
  }
}

.main-contacto {
  border: 2px solid #332e2e;
  background-color: #f7efc5;
  -webkit-box-shadow: 10px 6px 10px olive;
          box-shadow: 10px 6px 10px olive;
}

.main-contacto form {
  padding: 2rem;
}

.main-contacto h3 {
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  padding: 1rem;
  text-align: center;
}

.info {
  font-family: 'Boogaloo', cursive;
  padding-top: 3rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.info h3 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.btn-socios {
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  background-color: black;
  font-weight: bold;
  -webkit-box-shadow: 10px 6px 10px black;
          box-shadow: 10px 6px 10px black;
  border: 1px solid yellow;
}

.btn-socios:hover {
  color: black;
  background-color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid black;
}

.h2-socios {
  padding: 4rem 1rem;
}

.card-p, img .imagen-club {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */