@import "../base/_variables";
@import "../base/colores";
footer {
    .footer {
        padding: $padding;
    }
    .redes {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        background-color: rgb(238, 227, 168);
    }
    .redes h3 {
        color: rgb(12, 12, 10);
        font-size: 4rem;
        font-weight: bold;
        padding: 2rem;
    }
    .redes a i {
        font-size: 4rem;
        padding: 1.5rem;
        text-align: center;
        color: black;
    }
    .redes a i:hover {
        cursor: pointer;
        color: rgb(36, 36, 32);
        background-color: $Asaturado;
        border-radius: 10rem;
        transform: $tranform;
        ;
    }
    .footer .maps .mapouter {
        display: inline-block;
        max-width: 300px;
        height: auto;
        padding: 2rem;
        text-align: right;
        border: 2px soli rgb(10, 9, 9);
    }
    .mapouter {
        text-align: right;
        height: 305px;
        width: 364px;
    }
    .gmap_canvas {
        overflow: hidden;
        height: 305px;
        width: 364px;
    }
    @media (max-width:394px) {
        .redes h3 {
            text-align: center;
        }
        .redes a i {
            display: block;
            text-decoration: none;
        }
    }
}

.copy {
    font-size: 2rem;
    text-align: $centrar;
    color: rgb(216, 216, 56);
    background-color: black;
    margin-bottom: 0;
}