@import "../base/_variables";
@import "../base/colores";
@import "../base/mixin";
@import "../base/maps";
header {
    .img-header {
        padding: 1rem;
        text-align: $centrar;
    }
    .img-header:hover {
        transform: scale(1.2);
    }
    .img-header img {
        width: 150px;
        height: 150px;
    }
    .h1-header {
        @include titulos(uppercase, center, 2.5rem, bold);
        padding-top: 4rem;
    }
    main h2 {
        padding: $padding;
        font-weight: map-get($header, negrita);
        text-align: map-get($header, centrar);
    }
    .a-nav {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: $centrar;
    }
    .a-nav:hover {
        transform: scale(1.1);
    }
    .a-nav-activo {
        background-color: map-get($header, bg-header);
    }
    .bg-pag {
        background-color: map-get($header, bg-header);
    }
    @media (max-width:991px) {
        .img-header {
            text-align: center;
        }
        .h1-header {
            text-align: center;
        }
        .a-nav {
            text-align: center;
        }
    }
}

.bg-pag {
    background-color: $bg-pag;
}