@import"../base/variables";
@import "../base/colores";
main {
    h2 {
        text-align: $centrar;
        font-weight: $font-bold;
        font-size: 2rem;
        padding: 1rem 0;
    }
    .boton-socios {
        margin-top: 15rem;
        color: $amarillo;
        font-weight: bold;
        background-color: $negro;
        text-transform: uppercase;
        box-shadow: 10px 6px 10px $negro;
    }
    .boton-socios:hover {
        background-color: $Asaturado;
        color: $Nsaturado;
        transform: scale(1.2);
    }
    .card img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    @media (max-width:991px) {
        .boton-socios {
            margin-top: 1rem;
            padding: 1rem 2rem;
        }
        .h1-header {
            padding-bottom: 2rem;
        }
    }
    @media(min-width:970) {
        .h2-club {
            margin-right: 12rem;
        }
    }
}