@import"../base/variables";
@import "../base/colores";
@import "../base/mixin";
main {
    h2 {
        @include titulos(uppercase, center, 2rem, bold, );
        padding: 1rem 0;
        font-family: 'Lobster', cursive;
        font-family: 'Permanent Marker', cursive;
    }
    .boton-socios {
        font-family: 'Lobster', cursive;
        font-family: 'Permanent Marker', cursive;
        margin-top: 15rem;
        color: $amarillo;
        font-weight: bold;
        background-color: $negro;
        text-transform: uppercase;
        box-shadow: 10px 6px 10px $negro;
        border: 1px solid white;
    }
    .boton-socios:hover {
        background-color: $Asaturado;
        color: $Nsaturado;
    }
    .card img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .card h5,
    .card h3 {
        font-family: 'Boogaloo', cursive;
        font-size: 2rem;
    }
    .card p {
        font-size: 1.2rem;
        font-weight: bold;
    }
    @media (max-width:991px) {
        .boton-socios {
            margin-top: 1rem;
            padding: 1rem 2rem;
        }
        .h1-header {
            padding-bottom: 2rem;
        }
    }
    @media(min-width:970) {
        .h2-club {
            margin-right: 12rem;
        }
    }
    @media (max-width:400px) {
        .boton-socios:hover {
            transform: none;
        }
    }
}