@import "../base/_variables";
@import "../base/colores";
.btn-socios {
    font-family: 'Lobster', cursive;
    font-family: 'Permanent Marker', cursive;
    color: $Asaturado;
    background-color: $Nsaturado;
    font-weight: bold;
    box-shadow: 10px 6px 10px $Nsaturado;
    border: 1px solid $Asaturado;
}

.btn-socios:hover {
    color: $Nsaturado;
    background-color: $Asaturado;
    transition: 1s;
    transform: scale(1.2);
    border: 1px solid $Nsaturado;
}

.h2-socios {
    padding: 4rem 1rem;
}