@import "../base/_variables";
.h5-camp {
    font-weight: bold;
    font-size: 2rem;
}

.p-camp {
    font-size: 1.5rem;
}

.card img {
    height: 250px;
    margin-top: 10px;
}

.sombra {
    box-shadow: 10px 6px 10px rgb(63, 60, 60);
}

.card h5 {
    font-weight: bold;
}