@import "../base/_variables";
@import "../base/colores";
.main-contacto {
    border: 2px solid rgb(51, 46, 46);
    background-color: rgb(247, 239, 197);
    box-shadow: 10px 6px 10px $mix;
}

.main-contacto form {
    padding: 2rem;
}

.main-contacto h3 {
    font-family: 'Lobster', cursive;
    font-family: 'Permanent Marker', cursive;
    padding: 1rem;
    text-align: $centrar;
}

.info {
    font-family: 'Boogaloo', cursive;
    padding-top: 3rem;
    font-weight: 400;
    font-size: 1.3rem;
}

.info h3 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
}