@import "../base/_variables";
@import "../base/colores";
.card p {
    font-size: 1rem;
}

.imagen-club:hover {
    transform: scale(1.1);
}

.card-p {
    display: inline-block;
    border: 1px solid $mix;
    box-shadow: 25px 10px 20px rgb(36, 32, 32);
}

img .imagen-club {
    display: inline-block;
    width: auto;
    height: 213px;
}

.h2-club {
    padding-top: 3rem;
}

@media (max-width:991px) {
    .h2-club {
        text-align: center;
    }
}