@import "../base/_variables";
@import "../base/colores";
.card p {
    font-size: 1rem;
}

.card-p:hover {
    transform: scale(1.1);
}

.card-p {
    border: 1px solid $mix;
    margin: 20px;
    box-shadow: 25px 10px 20px rgb(36, 32, 32);
}

.h2-club {
    padding-top: 3rem;
}

@media (max-width:991px) {
    .h2-club {
        text-align: center;
    }
}